keras==3.6.0
numpy==2.0.2
opencv-python-headless
opencv-contrib-python
plotly==5.24.1
scikit-learn==1.5.2
scipy==1.14.1
streamlit==1.40.0
tensorflow==2.18.0
# Dependencies inferred automatically (optional, added for clarity)
absl-py>=1.0.0
grpcio>=1.58.0
protobuf>=3.20.3
wrapt>=1.15.0